@keyframes gradient-not-bar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.notificationBar {
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e 33%, #23a6d5 66%, #23d5ab);
  background-size: 400% 400%;
  animation: gradient-not-bar 15s ease infinite;
}
