@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@theme {
  --color-white: #ffffff;
  --color-black: #0d0d0d;
  --color-warmGray: #f5f4f4;

  --color-gray-50: #faf9f9;
  --color-gray-100: #f5f4f4;
  --color-gray-200: #e7e5e4;
  --color-border: var(--color-gray-200);
  --color-gray-300: #ceccca;
  --color-gray-400: #9b9997;
  --color-gray-500: #747270;
  --color-gray-600: #545251;
  --color-gray-700: #42403e;
  --color-gray-800: #201e1d;
  --color-gray-900: #151413;
  --color-gray-950: #0c0a09;
  --color-gray: #747270;

  --color-grayAlpha-50: rgba(118, 65, 30, 0.03);
  --color-grayAlpha-100: rgba(61, 37, 20, 0.05);
  --color-grayAlpha-200: rgba(38, 23, 13, 0.11);
  --color-grayAlpha-300: rgba(3, 3, 2, 0.2);
  --color-grayAlpha-400: rgba(29, 25, 22, 0.45);
  --color-grayAlpha-500: rgba(28, 25, 23, 0.62);
  --color-grayAlpha-600: rgba(28, 25, 23, 0.75);
  --color-grayAlpha-700: rgba(28, 25, 23, 0.83);
  --color-grayAlpha-800: rgba(28, 25, 23, 0.95);
  --color-grayAlpha-900: rgba(28, 25, 23, 1);
  --color-grayAlpha: rgba(28, 25, 23, 0.62);

  --color-whiteAlpha-50: rgba(253, 252, 252, 0.08);
  --color-whiteAlpha-100: rgba(253, 252, 252, 0.1);
  --color-whiteAlpha-200: rgba(253, 252, 252, 0.15);
  --color-whiteAlpha-300: rgba(253, 252, 252, 0.22);
  --color-whiteAlpha-400: rgba(253, 252, 252, 0.3);
  --color-whiteAlpha-500: rgba(253, 252, 252, 0.43);
  --color-whiteAlpha-600: rgba(253, 252, 252, 0.59);
  --color-whiteAlpha-700: rgba(253, 252, 252, 0.8);
  --color-whiteAlpha-800: rgba(253, 252, 252, 0.95);
  --color-whiteAlpha-900: rgba(253, 252, 252, 1);
  --color-whiteAlpha: rgba(253, 252, 252, 0.43);

  --color-blue-50: #e9e6fe;
  --color-blue-100: #d2cefd;
  --color-blue-200: #bcb5fd;
  --color-blue-300: #a69cfc;
  --color-blue-400: #796bfa;
  --color-blue-500: #4c39f9;
  --color-blue-600: #2008f7;
  --color-blue-700: #1906c6;
  --color-blue-800: #130594;
  --color-blue-900: #0d0363;
  --color-blue: #4c39f9;

  --color-purple-50: #f1e6ff;
  --color-purple-100: #e2ccff;
  --color-purple-200: #d4b3ff;
  --color-purple-300: #c599ff;
  --color-purple-400: #a866ff;
  --color-purple-500: #8b33ff;
  --color-purple-600: #6f00ff;
  --color-purple-700: #5800cc;
  --color-purple-800: #420099;
  --color-purple-900: #2c0066;
  --color-purple: #8b33ff;

  --color-purpleAlpha-50: #5800ff10;
  --color-purpleAlpha-500: #5500ff80;
  --color-purpleAlpha-800: #3d0099;

  --color-green-50: #e7fef4;
  --color-green-100: #cffce9;
  --color-green-200: #b6fbdd;
  --color-green-300: #9efad2;
  --color-green-400: #6ef7bc;
  --color-green-500: #3df5a5;
  --color-green-600: #0df28f;
  --color-green-700: #0bda81;
  --color-green-800: #0ac272;
  --color-green-900: #089156;
  --color-green: #3df5a5;

  --color-lime-50: #ecfbe9;
  --color-lime-100: #daf7d4;
  --color-lime-200: #b4f0ab;
  --color-lime-300: #8fe87d;
  --color-lime-400: #69e052;
  --color-lime-500: #44d926;
  --color-lime-600: #36ad1f;
  --color-lime-700: #298217;
  --color-lime: #44d926;

  --color-red-50: #ffebe5;
  --color-red-100: #ffd6cc;
  --color-red-200: #ffc2b2;
  --color-red-300: #ffad99;
  --color-red-400: #ff8566;
  --color-red-500: #ff5c33;
  --color-red-600: #ff3300;
  --color-red-700: #cc2900;
  --color-red-800: #b22400;
  --color-red-900: #7f1a00;
  --color-red: #ff5c33;

  --color-code-blue: #789deb;
  --color-code-cyan: #53ccff;
  --color-code-green: #a6e684;
  --color-code-orange: #e3ad6d;
  --color-code-purple: #b56ae7;
  --color-code-red: #e36d74;
  --color-code-text: #eeffff;

  --text-labelSm: 0.6875rem;
  --text-labelSm--line-height: 120%;
  --text-label: 0.75rem;
  --text-label--line-height: 120%;
  --text-buttonSm: 0.75rem;
  --text-buttonSm--line-height: 110%;
  --text-button: 0.875rem;
  --text-button--line-height: 110%;
  --text-formDescription: 0.75rem;
  --text-formDescription--line-height: 140%;

  --font-sans:
    Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-deco:
    PolySans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'PP Cirka', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    'Jetbrains Mono NL', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --shadow-slim: 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  --shadow-cardLight:
    0px 0.543px 1.495px 0px rgba(0, 0, 0, 0.02), 0px 1.503px 4.132px 0px rgba(0, 0, 0, 0.03),
    0px 3.618px 9.949px 0px rgba(0, 0, 0, 0.04), 0px 12px 20px 0px rgba(0, 0, 0, 0);
  --shadow-cardHover:
    0px 12px 33px 0px rgba(0, 0, 0, 0.06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, 0.04),
    0px 1.503px 4.132px 0px rgba(0, 0, 0, 0.03), 0px 0.543px 1.495px 0px rgba(0, 0, 0, 0.02);

  --radius-pilled: 0.875rem;
  --spacing-124: 40rem;
}

@utility container {
  max-width: 86.25rem;
  width: 100%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  margin-left: auto;
  margin-right: auto;
}

@utility gradient-text {
  background: linear-gradient(90deg, #73f 0%, #976bb5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@import './styles.css';
