@theme {
  /* Colors */
  --color-white: #FFFFFF;
  --color-black: #0D0D0D;
  --color-warmGray: #F5F4F4;

  --color-gray-50: #FAF9F9;
  --color-gray-100: #F5F4F4;
  --color-gray-200: #E7E5E4;
  --color-gray-300: #CECCCA;
  --color-gray-400: #9B9997;
  --color-gray-500: #747270;
  --color-gray-600: #545251;
  --color-gray-700: #42403E;
  --color-gray-800: #201E1D;
  --color-gray-900: #151413;
  --color-gray-950: #0C0A09;
  --color-gray: #747270;

  --color-grayAlpha-50: rgba(118, 65, 30, 0.03);
  --color-grayAlpha-100: rgba(61, 37, 20, 0.05);
  --color-grayAlpha-200: rgba(38, 23, 13, 0.11);
  --color-grayAlpha-300: rgba(3, 3, 2, 0.2);
  --color-grayAlpha-400: rgba(29, 25, 22, .45);
  --color-grayAlpha-500: rgba(28, 25, 23, .62);
  --color-grayAlpha-600: rgba(28, 25, 23, .75);
  --color-grayAlpha-700: rgba(28, 25, 23, .83);
  --color-grayAlpha-800: rgba(28, 25, 23, .95);
  --color-grayAlpha-900: rgba(28, 25, 23, 1);
  --color-grayAlpha: rgba(28, 25, 23, .62);

  --color-whiteAlpha-50: rgba(253, 252, 252, .08);
  --color-whiteAlpha-100: rgba(253, 252, 252, .1);
  --color-whiteAlpha-200: rgba(253, 252, 252, .15);
  --color-whiteAlpha-300: rgba(253, 252, 252, .22);
  --color-whiteAlpha-400: rgba(253, 252, 252, .3);
  --color-whiteAlpha-500: rgba(253, 252, 252, .43);
  --color-whiteAlpha-600: rgba(253, 252, 252, .59);
  --color-whiteAlpha-700: rgba(253, 252, 252, .8);
  --color-whiteAlpha-800: rgba(253, 252, 252, .95);
  --color-whiteAlpha-900: rgba(253, 252, 252, 1);
  --color-whiteAlpha: rgba(253, 252, 252, .43);

  --color-blue-50: #E9E6FE;
  --color-blue-100: #D2CEFD;
  --color-blue-200: #BCB5FD;
  --color-blue-300: #A69CFC;
  --color-blue-400: #796BFA;
  --color-blue-500: #4C39F9;
  --color-blue-600: #2008F7;
  --color-blue-700: #1906C6;
  --color-blue-800: #130594;
  --color-blue-900: #0D0363;
  --color-blue: #4C39F9;

  --color-purple-50: #F1E6FF;
  --color-purple-100: #E2CCFF;
  --color-purple-200: #D4B3FF;
  --color-purple-300: #C599FF;
  --color-purple-400: #A866FF;
  --color-purple-500: #8B33FF;
  --color-purple-600: #6F00FF;
  --color-purple-700: #5800CC;
  --color-purple-800: #420099;
  --color-purple-900: #2C0066;
  --color-purple: #8B33FF;

  --color-purpleAlpha-800: #3D0099;
  --color-purpleAlpha-500: #5500FF80;
  --color-purpleAlpha-50: #5800FF10;

  --color-green-50: #E7FEF4;
  --color-green-100: #CFFCE9;
  --color-green-200: #B6FBDD;
  --color-green-300: #9EFAD2;
  --color-green-400: #6EF7BC;
  --color-green-500: #3DF5A5;
  --color-green-600: #0DF28F;
  --color-green-700: #0BDA81;
  --color-green-800: #0AC272;
  --color-green-900: #089156;
  --color-green: #3DF5A5;

  --color-lime-50: #ECFBE9;
  --color-lime-100: #DAF7D4;
  --color-lime-200: #B4F0AB;
  --color-lime-300: #8FE87D;
  --color-lime-400: #69E052;
  --color-lime-500: #44D926;
  --color-lime-600: #36AD1F;
  --color-lime-700: #298217;
  --color-lime: #44D926;

  --color-red-50: #FFEBE5;
  --color-red-100: #FFD6CC;
  --color-red-200: #FFC2B2;
  --color-red-300: #FFAD99;
  --color-red-400: #FF8566;
  --color-red-500: #FF5C33;
  --color-red-600: #FF3300;
  --color-red-700: #CC2900;
  --color-red-800: #B22400;
  --color-red-900: #7F1A00;
  --color-red: #FF5C33;

  --color-code-blue: #789DEB;
  --color-code-cyan: #53CCFF;
  --color-code-green: #A6E684;
  --color-code-orange: #E3AD6D;
  --color-code-purple: #B56AE7;
  --color-code-red: #E36D74;
  --color-code-text: #EEFFFF;

  /* Font Family */
  --font-sans: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-deco: PolySans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "PP Cirka", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Jetbrains Mono NL", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* Font Sizes */
  --text-labelSm: 0.6875rem;
  --text-labelSm--line-height: 120%;
  --text-label: 0.75rem;
  --text-label--line-height: 120%;
  --text-buttonSm: 0.75rem;
  --text-buttonSm--line-height: 110%;
  --text-button: 0.875rem;
  --text-button--line-height: 110%;
  --text-formDescription: 0.75rem;
  --text-formDescription--line-height: 140%;

  /* Shadows */
  --shadow-slim: 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  --shadow-cardLight: 0px 0.543px 1.495px 0px rgba(0, 0, 0, 0.02), 0px 1.503px 4.132px 0px rgba(0, 0, 0, 0.03), 0px 3.618px 9.949px 0px rgba(0, 0, 0, 0.04), 0px 12px 20px 0px rgba(0, 0, 0, 0.00);
  --shadow-cardHover: 0px 12px 33px 0px rgba(0, 0, 0, 0.06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, 0.04), 0px 1.503px 4.132px 0px rgba(0, 0, 0, 0.03), 0px 0.543px 1.495px 0px rgba(0, 0, 0, 0.02);

  /* Border Radius */
  --radius-pilled: 0.875rem;

  /* Height */
  --height-124: 40rem;
}
